.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.App-logo {
  height: 40px;
}

.App-header {
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 30px;
  color: white;
}

.App-body {
  flex-grow: 1;
}

.App-footer {
  padding: 10px;
}

.activeLink > Button {
  background-color: #2525ca;
  color: #e0e0e0;
}

.activeLink > Button:hover {
  background-color: #2222be;
  color: #dbdbdb;
}
